.full-width-table {
  width: 80%;
}
.mat-table {
  width: 100%;
  margin-top: 10px;
}
.mat-header-cell {
  font-size: large;
}

#po-list {
  cursor: pointer;
  &:hover {
      background-color:#50a4ce !important;
  }
}

.statuschips {
  color: white;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
}