<form [formGroup]="criteriaForm" class="cform" (submit)="onSubmit()">
  <h2>Purchase Order Filter</h2>
  <br>
      <div class="fcontainer">
        <div class="checkbox">
          <mat-checkbox matInput formControlName="includeInactive">Include Inactive?</mat-checkbox>
        </div>
      </div>
      <br>
      <mat-form-field>
        <input formControlName="maxCreatedDate" matInput [matDatepicker]="picker1" placeholder="Max Created Date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input formControlName="maxCreatedDate" matInput [matDatepicker]="picker2" placeholder="Max Created Date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input formControlName="revenueMin" matInput placeholder="Minimum Revenue">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input formControlName="revenueMax" matInput placeholder="Maximum Revenue">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select formControlName="customerIds" placeholder="Customers" multiple>
          <ng-container *ngFor="let customer of customers">
            <mat-option value="{{customer.id}}">{{customer.name}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select formControlName="statuses" placeholder="Status" multiple>
          <ng-container *ngFor="let status of statusList">
            <mat-option value="{{status}}">{{getStatusName(status)}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
      </div>
</form>
