#shipped {
    background-color: rgb(7, 171, 133); 
}

#recieved {
    background-color: rgb(5, 193, 235); 
}

#wfp {
    background-color: rgba(120, 2, 2, 0.91); 
}

#closed {
    background-color: rgb(14, 120, 2); 
}

.mat-chip {
    color: white;
    font-size: x-small;
}